@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --calculator-buttons-background: #f3f3fa;
  --calculator-buttons-color: #1f1f1f;
  --calculator-background: #616161;
  --page-background-color: #262636;
}

body{
  background-color: var(--page-background-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

table {
  position: relative;
  top: 13px;
}

.background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: url(./src/background.png) no-repeat;
  border: solid 5px black;
  border-radius: 30px;
  box-shadow: -1px 1px 15px -1px rgba(0,0,0,0.59);
  padding: 15px;
}

button {
  color: var(--calculator-buttons-color);
  background-color: var(--calculator-buttons-background);
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  font-size: 20px;
  cursor: pointer;
  margin: 3px 3px 3px 3px;
}

tr:nth-child(1) > td:nth-child(1) > button {
  background: #f05353;
}

tr:nth-child(5) > td:nth-child(1) > button {
  width: 115px;
}

tr:nth-child(4) > td:nth-child(4) > button {
  height: 115px;
}

.container-result {
  position: relative;
  background: #9ccc65;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  height: 46px;
}

.container-result > p:nth-child(1) {
  position: absolute;
  color: gray;
  right: 5px;
  top: 2px;
  font-size: 13px;
}

.container-result > p:nth-child(2) {
  align-self: flex-end;
  margin: 0px 5px 2px 0px;
  font-size: 20px;
}

.currentValue {
  margin-right: 10px;
  font-size: 1.1em;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.4;
}
